<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>
    {{- title -}}
    {{- title and settings.template.site ? ' - ' -}}
    {{- settings.template.site -}}
</title>
{% block analytics %}
{{ settings.template.analytics|raw }}
{% endblock %}
{% block styles %}
<style>
.bgsu_common_alert {
    background: #f2f2f2;
    border-radius: 1rem;
    color: #000;
    margin: 1rem 0;
    padding: 1rem;
}

.bgsu_common_alert__failure {
    background: #a00;
    color: #fff;
}

.bgsu_common_alert__warning {
    background: #f5c163;
    color: #000;
}

.bgsu_common_alert__success {
    background: #1c626d;
    color: #fff;
}

.bgsu_common_list_breadcrumb,
.bgsu_common_list_comma,
.bgsu_common_list_inline {
    display: block;
    margin: 0;
    padding: 0;
}

.bgsu_common_list_breadcrumb > li,
.bgsu_common_list_comma > li,
.bgsu_common_list_inline > li {
    display: inline;
    margin: 0;
    padding: 0;
}

.bgsu_common_list_breadcrumb > li + li:before {
    content: " / ";
}

.bgsu_common_list_comma > li:after {
    content: ", ";
}

.bgsu_common_list_comma > li:last-child:after {
    display: none;
}

.bgsu_common_records {
    display: block;
    margin: 1rem 0;
    padding: 0;
}

.bgsu_common_records_item {
    display: flex;
    margin: 1rem 0;
    padding: 0;
    text-decoration: none;
}

.bgsu_common_records_item_description {
    color: #000;
}

.bgsu_common_records_item_details {
    flex: 1 0 0%;
}

.bgsu_common_records_item_image {
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
    flex: 0 0 20%;
    margin-left: 1rem;
    min-height: 8rem;
}

.bgsu_common_records_item_image img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.bgsu_common_records_item_title {
    text-decoration: underline;
}

.bgsu_common_sidebar {
    display: flex;
    margin: 1rem 0;
    padding: 0;
}

.bgsu_common_sidebar > * {
    flex: 1 0 0%;
    order: 1;
}

.bgsu_common_sidebar_left,
.bgsu_common_sidebar_right {
    background: #f2f2f2;
    border-radius: 1rem;
    color: #000;
    flex: 0 0 20%;
    margin: 0;
    padding: 1rem;
}

.bgsu_common_sidebar_left {
    margin-right: 1rem;
    order: 0;
}

.bgsu_common_sidebar_right {
    margin-left: 1rem;
    order: 1;
}
</style>
{% endblock %}
</head>
<body>
{% block body %}
{% if settings.template.menu %}
<nav>
    <ul>
    {%~ if settings.template.site %}
        <li><strong><a href="{{ url_for('index') }}">{{ settings.template.site }}</a></strong></li>
    {%~ endif %}
    {%~ for item in settings.template.menu %}
        <li><a href="{{ item.href }}">{{ item.text }}</a></li>
    {%~ endfor %}
    </ul>
</nav>
{% endif %}
<main id="content">
{% block content %}
{%- if title %}
<h1>{{ title }}</h1>
{%- elseif settings.template.site %}
<h1>{{ settings.template.site }}</h1>
{%- endif %}
{% block breadcrumb %}
{% endblock %}
{%- for message in messages %}
<div class="bgsu_common_alert bgsu_common_alert__{{ message.level }}">
    {{ message.message }}
</div>
{%- endfor %}
{% endblock %}
</main>
{% block scripts %}
{% endblock %}
{% endblock %}
</body>
</html>
