{% set title = booking.fromDate|date('l, F j, Y') ~ ' at ' ~ booking.fromDate|date('g:ia') %}
{% extends 'page.html.twig' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="bgsu_common_list_breadcrumb">
        <li><a href="{{ url_for('index') }}">{{ settings.template.site }}</a></li><li><a href="{{ url_for('location', {location: location.slug}) }}">{{ location.data.name }}</a></li><li><a href="{{ url_for('item', {location: location.slug, item: item.slug}) }}?date={{ datepoint|date('Y-m-d') }}">{{ item.data.name }}</a></li><li aria-current="page">{{ title }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
{{ parent() }}
<div class="bgsu_common_records_item">
    <div class="bgsu_common_records_item_details">
        <div class="bgsu_common__closer">
            <h2>{{ booking.status }} Reservation for {{ time }}</h2>
            <form method="post" action="{{ url_for('id', {id: booking.bookId}) }}">
                <p><button type="submit" name="cancel" value="1" class="bgsu_common_button bgsu_common_button__arrow bgsu_common_button__large bgsu_common_button__failure">Cancel this booking</button></p>
            </form>
            <h2>{{ item.data.name }}</h2>
        </div>
        <div class="bgsu_common_records_item_description">
            <ul class="bgsu_common_list_comma bgsu_common__small">
                {%~ if item.data.capacity %}
                <li>Capacity: {{ item.data.capacity }}</li>
                {%~ endif %}
                {%~ if item.data.isAccessible %}
                <li>Accessible Space</li>
                {%~ endif %}
                {%~ if item.data.isPowered %}
                <li>Power Available</li>
                {%~ endif %}
            </ul>
            {{ item.data.description|raw -}}
        </div>
    </div>
    {%~ if item.data.image %}
    <div class="bgsu_common_records_item_image" style="background-image:url({{ item.data.image }})"></div>
    {%~ endif %}
</div>
<p class="bgsu_common__closer">
    <a href="{{ url_for('item', {location: location.slug, item: item.slug}) }}?date={{ booking.fromDate|date('Y-m-d') }}" class="bgsu_common_button bgsu_common_button__large">
        Make another reservation
    </a>
</p>
{% endblock %}
