{% set title = item.data.name %}
{% extends 'page.html.twig' %}

{% block styles %}
{{ parent() }}
<style>
.columns {
    border-top: 2px solid;
    display: flex;
    margin: 1rem 0;
    overflow-x: auto;
}

.columns > div {
    flex: 1 1 auto;
}

.columns > div > h2 {
    border-bottom: 2px solid;
    font: inherit;
    font-weight: 700;
    margin: 0;
    padding: 0.5rem;
}

.columns > div > a,
.columns > div > div {
    border-bottom: 1px solid #dee2e6;
    display: block;
    padding: 0.5rem;
}


{% for slot in range(1, slots) %}
.columns > div > a:active
    {%- if slot > 1 %}
        {%- for count in range(2, slot) %}
            {#- twigcs use-var count #} + *
        {%- endfor %}
    {%- endif %},
.columns > div > a:focus
    {%- if slot > 1 %}
        {%- for count in range(2, slot) %}
            {#- twigcs use-var count #} + *
        {%- endfor %}
    {%- endif %},
.columns > div > a:hover
    {%- if slot > 1 %}
        {%- for count in range(2, slot) %}
            {#- twigcs use-var count #} + *
        {%- endfor %}
    {%- endif %}
    {%- if not loop.last %},
    {%~ endif %}
{%- endfor %} {
    background: #f5e7d8;
    border-bottom-color: transparent;
}

.columns > div > div {
    color: #767676;
}

.columns > div > div.bgsu_common_alert {
    margin: 0.25rem;
}

.columns .selected {
    background: rgba(0, 0, 0, 0.075);
}

.date_container {
    position: relative;
    white-space: nowrap;
}

.date_container #date {
    padding: 10px;
    position: absolute;
    visibility: hidden;
    width: 100%;
}
</style>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="/template/2.0.0-b7/flatpickr.js"></script>
<script>
(function (field) {
    bgsu_flatpickr.setup(field, {
        altFormat: 'F j, Y',
        altInput: true,
        disableMobile: true,
        minDate: '{{ location.availability|date("Y-m-d") }}',
        maxDate: '{{ "+6 months"|date("Y-m-d") }}',
        onChange: (selectedDates, dateString, instance) => {
            window.location = `{{ url_for('item', {'location': location.slug, 'item': item.slug}) }}?date=${dateString}`;
        },
    });
}(document.getElementById('date')));
</script>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="bgsu_common_list_breadcrumb">
        <li><a href="{{ url_for('index') }}">{{ settings.template.site }}</a></li><li><a href="{{ url_for('location', {location: location.slug}) }}">{{ location.data.name }}</a></li><li aria-current="page">{{ title }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="bgsu_common_records_item">
    <div class="bgsu_common_records_item_details">
        <div class="bgsu_common__closer">
            {{ parent() }}
        </div>
        <div class="bgsu_common_records_item_description">
            <ul class="bgsu_common_list_comma bgsu_common__small">
                {%~ if item.data.capacity %}
                <li>Capacity: {{ item.data.capacity }}</li>
                {%~ endif %}
                {%~ if item.data.isAccessible %}
                <li>Accessible Space</li>
                {%~ endif %}
                {%~ if item.data.isPowered %}
                <li>Power Available</li>
                {%~ endif %}
            </ul>
            {{ item.data.description|raw }}
        </div>
    </div>
    {%~ if item.data.image %}
    <div class="bgsu_common_records_item_image" style="background-image:url({{ item.data.image }})"></div>
    {%~ endif %}
</div>
<div>
    <a{%- if item.times|keys|first > 'now'|date('Y-m-d') %} href="{{ url_for('item', {'location': location.slug, 'item': item.slug, 'date': item.times|keys|first|date_modify('-1 week')|date('Y-m-d')}) }}"{% else %} disabled{% endif %} class="bgsu_common_button">
        « Previous Week
    </a>
    <a href="{{ url_for('item', {'location': location.slug, 'item': item.slug, 'date': item.times|keys|first|date_modify('+1 week')|date('Y-m-d')}) }}" class="bgsu_common_button">
        Next Week »
    </a>
    <span class="date_container">
        <input type="text" id="date" name="date" value="{{ query.date }}">
        <label for="date" class="bgsu_common_button">Select Date</label>
    </span>
</div>
{% if item.times %}
<div class="columns">
    {%~ for date in item.times|keys %}
    <div{% if query.date and date == query.date %} class="selected"{% endif %}>
        <h2>
            {{ date|date('M j') }}<br>
            <small>{{ 'now'|date('Y-m-d') == date ? 'Today' : date|date('l') }}</small>
        </h2>
        {%~ if item.times[date] %}
        {%~ for time in item.times[date]|keys %}
        {%~ if item.times[date][time] %}
        <a href="{{ url_for('time', {'location': location.slug, 'item': item.slug, 'date': date, 'time': time}) }}" title="{{ (date ~ ' ' ~ time)|date('g:ia \\o\\n l, M j') }}" {%- if query.time and time == query.time %} class="selected"{% endif %}>
        {%~ else %}
        <div {%- if query.time and time == query.time %} class="selected"{% endif %}>
        {%~ endif %}
            {{ (date ~ ' ' ~ time)|date('g:ia') }}
        {%~ if item.times[date][time] %}
        </a>
        {%~ else %}
        </div>
        {%~ endif %}
        {%~ endfor %}
        {%~ else %}
        <div class="bgsu_common_alert bgsu_common_alert__failure">
            No available times
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% else %}
<div class="bgsu_common_alert bgsu_common_alert__failure">
    No times are available to book.
</div>
{% endif %}
{% endblock %}
