{% set title = location.data.name %}
{% extends 'page.html.twig' %}

{% macro outputItem(item, location, heading, query) %}
{% set first = item.data.availability|first.from %}
            <a class="bgsu_common_records_item" href="
                {{- url_for('item', {'location': location.slug, 'item': item.slug, 'date': first|date('Y-m-d')}) -}}
                {%- if query.date -%}
                    ?date={{ first|date("Y-m-d") -}}
                        {%- if query.time -%}
                            &amp;time={{ first|date("H:i") -}}
                        {%- endif -%}
                {%- endif -%}
            ">
                <div class="bgsu_common_records_item_details">
                    <{{ heading }} class="bgsu_common_records_item_title">{{ item.data.name }}</{{ heading }}>
                    <div class="bgsu_common_records_item_description">
                        <ul class="bgsu_common_list_comma bgsu_common__small bgsu_common__closer">
                            {%~ if item.data.capacity %}
                            <li>Capacity: {{ item.data.capacity }}</li>
                            {%~ endif %}
                            {%~ if item.data.isAccessible %}
                            <li>Accessible Space</li>
                            {%~ endif %}
                            {%~ if item.data.isPowered %}
                            <li>Power Available</li>
                            {%~ endif %}
                        </ul>
                        {{ item.data.description|raw }}
                        <div><strong>Available on {{ first|date('l, F j \\a\\t g:i A') }}</strong></div>
                    </div>
                </div>
                {%~ if item.data.image %}
                <div class="bgsu_common_records_item_image" style="background-image:url({{ item.data.image }})"></div>
                {%~ endif %}
            </a>
{% endmacro %}

{% block scripts %}
{{ parent() }}
<script src="{{ bgsu_template_path }}flatpickr.js"></script>
<script>
(function (time, date, capacity) {
    (function (clear) {
        const toggle = function (selectedDates, dateString, instance) {
            clear.style.display = dateString === '' ? 'none' : 'inline';
        };

        bgsu_flatpickr.setup(time, {
            altFormat: 'h:i K',
            altInput: true,
            dateFormat: 'H:i',
            enableTime: true,
            noCalendar: true,
            onChange: toggle,
            onReady: toggle,
        });

        clear.addEventListener('click', () => {
            time._flatpickr.clear();
            return false;
        });
    }(document.getElementById('time-clear')));

    (function (clear) {
        const toggle = function (selectedDates, dateString, instance) {
            clear.style.display = dateString === '' ? 'none' : 'inline';

            if (time._flatpickr) {
                if (dateString === '') {
                    time._flatpickr.clear();
                    time._flatpickr._input.setAttribute(
                        'disabled',
                        'disabled',
                    );
                } else {
                    time._flatpickr._input.removeAttribute('disabled');
                }
            }
        };

        bgsu_flatpickr.setup(date, {
            altFormat: 'F j, Y',
            altInput: true,
            minDate: '{{ location.availability|date("Y-m-d") }}',
            maxDate: '{{ "+6 months"|date("Y-m-d") }}',
            onChange: toggle,
            onReady: toggle,
        });

        clear.addEventListener('click', () => {
            date._flatpickr.clear();
            return false;
        });
    }(document.getElementById('date-clear')));

    capacity.addEventListener('input', function () {
        this.nextElementSibling.value = this.value > 1 ? this.value : 'None';
    });

    capacity.dispatchEvent(new Event('input'));
}(
    document.getElementById('time'),
    document.getElementById('date'),
    document.getElementById('capacity'),
));
</script>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="bgsu_common_list_breadcrumb">
        <li><a href="{{ url_for('index') }}">{{ settings.template.site }}</a></li><li aria-current="page">{{ title }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
{{ parent() }}
{{ location.config.description|raw }}
<div class="bgsu_common_sidebar">
    {%~ if settings.book.narrowDatetime or settings.book.narrowCapacity or settings.book.narrowAccessible or settings.book.narrowPower %}
    <div class="bgsu_common_sidebar_left">
        <h2 class="bgsu_common_sidebar_title bgsu_common__title">Narrow Options</h2>
        <form method="get" action="{{ url_for('location', {location: location.slug}) }}" class="bgsu_common_form">
            {%~ if settings.book.narrowDatetime %}
            <div class="bgsu_common_form_group">
                <label for="date">Date:</label>
                <div>
                    <input type="text" name="date" id="date" value="{{ query.date }}">
                    <a id="date-clear" class="bgsu_common_icon bgsu_common_icon__remove bgsu_common_icon__right" href="#" title="Clear Date"></a>
                </div>
            </div>
            <div class="bgsu_common_form_group">
                <label for="time">Time:</label>
                <div>
                    <input type="text" name="time" id="time" value="{{ query.time }}">
                    <a id="time-clear" class="bgsu_common_icon bgsu_common_icon__remove bgsu_common_icon__right" href="#" title="Clear Time"></a>
                </div>
            </div>
            {%~ endif %}
            {%~ if settings.book.narrowCapacity and location.capacity > 1 %}
            <div class="bgsu_common_form_group">
                <label for="capacity">Minimum Capacity:</label>
                <div>
                    <input type="range" name="capacity" id="capacity" min="1" max="{{ location.capacity }}" value="{{ query.capacity ?: 1 }}">
                    <output>None</output>
                </div>
            </div>
            {%~ endif %}
            {%~ if settings.book.narrowAccessible or settings.book.narrowPower %}
            <div class="bgsu_common_form_group">
                <div>Limit to:</div>
                {%~ if settings.book.narrowAccessible %}
                <div>
                    <input type="checkbox" name="accessible" id="accessible"{% if query.accessible %} checked{% endif %}>
                    <label for="accessible">Accessible Space</label><br>
                </div>
                {%~ endif %}
                {%~ if settings.book.narrowPower %}
                <div>
                    <input type="checkbox" name="powered" id="powered"{% if query.powered %} checked{% endif %}>
                    <label for="powered">Power Available</label>
                </div>
                {%~ endif %}
            </div>
            {%~ endif %}
            <button type="submit" class="bgsu_common_button bgsu_common_button__small bgsu_common_button__primary">Update</button>
        </form>
    </div>
    {%~ endif %}
    <div>
        <div class="bgsu_common_records">
            {%~ if location.items %}
                {%- if location.config.grouped and location.zones|length > 1 %}
                    {%- for zone in location.zones %}
            <h2>{{ zone.data.name }}</h2>
                        {%~ for item in location.items %}
                            {%- if item.data.zoneId == zone.data.id %}
            {{- _self.outputItem(item, location, 'h3', query) }}
                            {%- endif %}
                        {%- endfor %}
                    {%- endfor %}
                {%- elseif location.config.grouped and location.categories|length > 1 %}
                    {%- for category in location.categories %}
            <h2>{{ category.data.name }}</h2>
                        {%~ for item in location.items %}
                            {%- if item.data.groupId == category.data.cid %}
            {{- _self.outputItem(item, location, 'h3', query) }}
                            {%- endif %}
                        {%- endfor %}
                    {%- endfor %}
                {%- else %}
                    {%- for item in location.items %}
            {{- _self.outputItem(item, location, 'h2', query) }}
                    {%- endfor %}
                {%- endif %}
            {%~ else %}
            <div class="bgsu_common_alert bgsu_common_alert__failure">
                No options were found.
            </div>
            {%- endif %}
        </div>
    </div>
</div>
{% endblock %}
