{% set title = date|date('l, F j, Y') ~ ' at ' ~ date|date('g:ia') %}
{% extends 'page.html.twig' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="bgsu_common_list_breadcrumb">
        <li><a href="{{ url_for('index') }}">{{ settings.template.site }}</a></li><li><a href="{{ url_for('location', {location: location.slug}) }}">{{ location.data.name }}</a></li><li><a href="{{ url_for('item', {location: location.slug, item: item.slug}) }}?date={{ date|date('Y-m-d') }}">{{ item.data.name }}</a></li><li aria-current="page">{{ title }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
{{ parent() }}
<div class="bgsu_common_records_item">
    <div class="bgsu_common_records_item_details">
        <div class="bgsu_common__closer">
            <h2>{{ item.data.name }}</h2>
        </div>
        <div class="bgsu_common_records_item_description">
            <ul class="bgsu_common_list_comma bgsu_common__small">
                {%~ if item.data.capacity %}
                <li>Capacity: {{ item.data.capacity }}</li>
                {%~ endif %}
                {%~ if item.data.isAccessible %}
                <li>Accessible Space</li>
                {%~ endif %}
                {%~ if item.data.isPowered %}
                <li>Power Available</li>
                {%~ endif %}
            </ul>
            {{ item.data.description|raw -}}
        </div>
    </div>
    {%~ if item.data.image %}
    <div class="bgsu_common_records_item_image" style="background-image:url({{ item.data.image }})"></div>
    {%~ endif %}
</div>

{% if options %}
<form method="post" action="{{ url_for('time', {location: location.slug, item: item.slug, date: date|date('Y-m-d'), time: date|date('H:i')}) }}">
    <input type="hidden" name="start" value="{{ post.start }}">
    <input type="hidden" name="bookings[0][id]" value="{{ post.bookings[0]['id'] }}">
    <p>
        <label for="to">Reserve for</label><br>
        <select name="bookings[0][to]" id="to" required>
            {%~ for value, name in options %}
            <option value="{{ value }}"{% if value == post.bookings[0]['to'] %} selected{% endif %}>{{ name }}</option>
            {%~ endfor %}
        </select>
    </p>
    {%~ for name, field in form.fields %}
    <p>
        <label for="{{ name }}">{{ field.label }}</label><br>
        {%~ if name == 'email' %}
        <input type="email" name="{{ name }}" id="{{ name }}"{% if post[name] %} value="{{ post[name] }}"{% endif %}{% if field.required %} required{% endif %}{% if email %} pattern="{{ email.pattern }}" title="{{ email.title }}"{% endif %}>
            {%~ if email %}
        <br><small>{{ email.title }}</small>
            {%~ endif %}
        {%~ elseif field.type == 'checkbox' %}
            {%~ for option in field.options %}
        <label><input type="checkbox" name="{{ name }}[]" value="{{ option|raw }}"{% if loop.first %} id="{{ name }}"{% endif %}{% if option in post[name] %} checked{% endif %}>{{ option|raw }}</label><br>
            {%~ endfor %}
        {%~ elseif field.type == 'radio' %}
            {%~ for option in field.options %}
        <label><input type="radio" name="{{ name }}" value="{{ option|raw }}"{% if loop.first %} id="{{ name }}"{% endif %}{% if option == post[name] %} checked{% endif %}>{{ option|raw }}</label><br>
            {%~ endfor %}
        {%~ elseif field.type == 'dropdown' %}
        <select name="{{ name }}" id="{{ name }}">
            {%~ for option in field.options %}
            <option{% if post[name] == option %} selected{% endif %}>{{ option|raw }}</option>
            {%~ endfor %}
        </select>
        {%~ elseif field.type == 'textarea' %}
        <textarea name="{{ name }}" id="{{ name }}"{% if field.required %} required{% endif %}>{{ post[name] }}</textarea>
        {%~ else %}
        <input type="{{ field.type == 'string' ? 'text' : field.type }}" name="{{ name }}" id="{{ name }}"{% if post[name] %} value="{{ post[name] }}"{% endif %}{% if field.required %} required{% endif %}>
        {%~ endif %}
    </p>
    {%~ endfor %}
    <p>
        <button type="submit" class="bgsu_common_button bgsu_common_button__arrow bgsu_common_button__primary">
            Reserve
        </button>
    </p>
</form>
{% else %}
<div class="bgsu_common_alert bgsu_common_alert__failure">
    This date and time is not available.
</div>
<a href="{{ url_for('item', {location: location.slug, item: item.slug}) }}?date={{ date|date('Y-m-d') }}" class="bgsu_common_button">Choose a different time</a>
{% endif %}
{% endblock %}
